* {
    margin: 0;
    padding: 0;
}

.name--contain {
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    margin-left: 31px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;

}

.name--contain > img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-top: 10px;
}

.name--contain > h1 {
    text-align: center;
    font-size: 16px;
    color: black;
    margin-top: 10px;
}