.login {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   background-image: url('../Image/lecteur.webp');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

button {
   font-size: 50px;
   background-color: black;
   color: white;
   font-weight: bold;
   padding: 10px 200px;
   margin-left: 140px;
   border-radius: 50px;
   border: none;
}