* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 250px;
    align-items: center;
    
}

.logo {
    width: 100px;
    margin-top: 20px;
}

.bibliotheque {
    font-size: 18px;
    color: rgb(223, 139, 139);
    font-weight: bold;
    margin-top: 58px;
    margin-bottom: 10px;
}

.container--pages {
    display: flex;
    flex-direction: column;
}

.accueil {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.accueil>img {
    width: 15px;
    height: 15px;
}

.accueil>div {
    font-size: 14px;
    color: black;
    margin-left: 10px;
    text-decoration: none;
}

.accueil>div:hover {
    font-weight: 500;
}



.deconnexion--container {
    background-color: white;
    width: 100px;
    color: white;
    margin-top: 120px;
    background-color: rgb(155, 155, 155);
    border: 2px solid rgb(155, 155, 155);
    padding: 2px 5px;
    cursor: pointer;
}

/* .deconnexion-container {
    text-align: center;
}
.deconnexion {
    font-size: 20px;
} */